<app-navbar></app-navbar>

<div class="row promos">
    <div class="col-12 promo1">
        <img clas="peppPizza" src="assets/img/pepperoni.png" alt="peppPizza">
        <a (click)="order()"><h2>$20.000 <br> Hot-N-Ready <br> Grande <br> Pepperoni <br> 35.5 CM</h2></a>
    </div>
</div>

<div class="row promos">
    <div class="col-12 promo1">
        <img clas="quesoPizza" src="assets/img/queso.webp" alt="quesoPizza">
        <a (click)="order()"><h2>$20.000 <br> Hot-N-Ready <br> Grande <br> Queso <br> 35.5 CM</h2></a>
    </div>
</div>

<div class="row promos">
    <div class="col-12 promo1">
        <img clas="hawaPizza" src="assets/img/hawaian.png" alt="hawaPizza">
        <a (click)="order()"><h2>$20.000 <br> Hot-N-Ready <br> Grande <br> Hawaiana <br> 35.5 CM</h2></a>
    </div>
</div>

<div class="row promos">
    <div class="col-12 promo1">
        <img clas="cheeseBread" src="assets/img/bread.png" alt="cheeseBread">
        <a (click)="order()"><h2>$16.900 <br> Hot-N-Ready <br> Pepperoni <br> Cheese Bread <br> 12 Palitos </h2></a>
    </div>
</div>