.mapa {
  width: 600px;
  height: 600px;
}

#inputPlaces {
  display: none;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  justify-content: center;
  align-items: center;
}

.form h2{
  color: black;
}