<app-navbar></app-navbar>

<div class="row products">
    <div class="col-6 product">
        <img src="assets/img/combo1.png" alt="combo1">
        <a (click)="order()">$34.000 <br> Hot-N-Ready <br> Grande <br> Pepperoni <br> 35.5 CM <br> +CocaCola</a>
    </div>

    <div class="col-6 product">
        <img src="assets/img/combo2.png" alt="combo2">
        <a (click)="order()">$51.000 <br> Hot-N-Ready <br> 2 Grande <br> Pepperoni <br> 35.5 CM <br> +CocaCola <br> +CrazyCombo</a>
    </div>
</div>

<div class="row products">
    <div class="col-6 product">
        <img src="assets/img/combo3.webp" alt="combo1">
        <a (click)="order()">$37.000 <br> Hot-N-Ready <br> Grande <br> Vegetales <br> 35.5 CM <br> +CocaCola <br> +CrazyCombo</a>
    </div>

    <div class="col-6 product">
        <img src="assets/img/combo4.webp" alt="combo2">
        <a (click)="order()">$40.000 <br> Hot-N-Ready <br> Grande <br> Jalapeños <br> 35.5 CM <br> +CocaCola <br> +CrazyCombo</a>
    </div>
</div>

<div class="row products">
    <div class="col-6 product">
        <img src="assets/img/mix.png" alt="mixPizza">
        <a (click)="order()">$50.000 <br> Hot-N-Ready <br> Grande <br> Carnes <br> 50 CM</a>
    </div>
    
    <div class="col-6 product">
        <img src="assets/img/mix1.webp" alt="mixPizza">
        <a (click)="order()">$60.000 <br> Hot-N-Ready <br> Mix <br> 50 CM</a>
    </div>
</div>

<div class="row products">
    <div class="col-6 product">
        <img src="assets/img/puffs.png" alt="puffs">
        <a (click)="order()">$12.000 <br> Hot-N-Ready <br> 4 Panes <br> Rellenos de pepperoni</a>
    </div>

    <div class="col-6 product">
        <img src="assets/img/dips.png" alt="dips">
        <a (click)="order()">$3.500 <br>4 Salsas <br> Ranchera <br> Japaleño <br> Queso <br> Mantequilla de ajo</a>
    </div>
</div>
